<h1>Ticket Details</h1>
<p>
    <strong>Ticket ID:</strong> {{ticket._id}} <br>
    <strong>Amount:</strong> ${{ticket.amount}} <br>
    <strong>Purchase Date:</strong> {{ticket.purchase_datetime}} <br>
    <strong>Purchaser:</strong> {{ticket.purchaser}} <br>
</p>
<a href="/:cid/purchase">Finalizar compra</a>
<a href="/api/cart">Volver</a>